svg {
    display: block;
    border: 1px solid #444;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    backgroundColor: lightgrey;
}

.axisLb {
    text-anchor: middle;
    font-family: Bangers, sans-serif;
    font-size: 1.2rem;
    color: "#112234";
}

html {
    padding: 0;
    background-color: rgb(221, 218, 207);
}

g {
    font-family: Bangers, sans-serif;
}

.inputLabel {
    font-size: 1.5rem;
    font-family: Bangers;
    color: white;
}

.inputYear {
    font-size: 1.2rem;
    font-family: Bangers;
    font-weight: 300;
    margin: 1rem;
    height: 2rem;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.canvas {
    background-color: rgba(255, 255, 255, 0.74);
    margin: 1rem;
    padding: 1rem;
    transition: .5s;
}

.canvas_dark {
    background-color: rgba(197, 197, 197, 0.705);
}

.canvas:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 12px black;
}

.h3-title {
    font-family: VT323;
    font-size: 1.5rem;
}

.scoreLabel {
    font-family: Bangers;
    color: black;
    font-size: .7rem;
    font-weight: 100;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.section-temporal-graph {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    width: 90%;
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(-45deg, #091524, #05242ce5), url("../img/onepiece.png");
}

.lineG:hover {
    /* transform: scale(1.1); */
}

.header-primary {
    font-family: Bangers;
    font-size: 3rem;
    background: linear-gradient(-45deg, #091524f2, #112334f2), url("../img/jojo.png");
    color: white;
    padding: 2rem;
    text-align: center;
    /* margin-bottom: 3rem; */
    margin-top: 0;
    width: 100%;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 3rem;
    font-family: VT323;
    font-weight: 200;
}

.section-cluster-graph {
    background: linear-gradient(-45deg, #092414f1, #2c0505f5), url("../img/onepiece.png");
    background-position: cover;
    margin-top: 5rem;
    padding: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.hiveplot {
    background: linear-gradient(-45deg, #3F76EBf1, #791e75f1, #38c48cf5), url("../img/onepiece.png");
    background-position: cover;
    margin-top: 5rem;
    padding: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.hiveplot.axis {
    stroke: #000;
    stroke-width: 1.5px;
}

.hiveplot .node rect {
    stroke: none;
}

.link {
    fill: none;
    stroke: #c7c7c7;
    stroke-width: 2px;
    stroke-opacity: 0.4;
}

.hiveplot .link.active {
    stroke: rgb(226, 59, 59);
    stroke-width: 2px;
    stroke-opacity: 1;
    /* z-index: 90; */
}

.hiveplot .node rect.active {
    stroke: rgba(235, 72, 50, 0.884);
    stroke-width: 3px;
}

.hiveplot .node circle {
    stroke: #000;
}

.hiveplot .node circle.active {
    stroke: rgba(235, 78, 50, 0.884);
    stroke-width: 3px;
}

#infoHivePlot {
    width: 50%;
    height: 10%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: Bangers;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 10px;
    box-shadow: 0 5px 2px rgba(133, 133, 133, 0.548);
    padding: 1rem;
}


/* description styling */

.description {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 5rem 30%;
    color: rgb(5, 0, 0);
    background-color: rgba(194, 192, 186, 0);
    justify-content: center;
    align-items: center;
    /* font-family: "Bangers"; */
}

.description-title {
    font-family: "Bangers";
    font-size: 2rem;
}

.description-content {
    font-family: "Damion";
    font-size: 1.5rem;
}

p {
    margin: .5rem;
}